# Sales Prediction Using Python

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import statsmodels.api as sma

In [3]:
data = pd.read_csv('Advertising.csv')

In [4]:
data.drop('Unnamed: 0',axis=1)

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [5]:
x_mlp = data.drop(['Sales','Unnamed: 0'],axis=1)
Y = data['Sales'].values.reshape(-1,1)

lr = LinearRegression()
lr.fit(x_mlp,Y)

LinearRegression()

In [6]:
lr.score(x_mlp,Y)

0.8972106381789522

In [8]:
x = np.column_stack((data['Newspaper'],data['TV'],data['Radio']))
x_cons = sma.add_constant(x)
ols_est = sma.OLS(Y,x_cons)
ols_est_fit = ols_est.fit()
print(ols_est_fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.896
Method:                 Least Squares   F-statistic:                     570.3
Date:                Tue, 21 Feb 2023   Prob (F-statistic):           1.58e-96
Time:                        23:16:36   Log-Likelihood:                -386.18
No. Observations:                 200   AIC:                             780.4
Df Residuals:                     196   BIC:                             793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.9389      0.312      9.422      0.000       2.324       3.554
x1            -0.0010      0.006     -0.177      0.860      -0.013       0.011
x2             0.0458      0.001     32.809      0.000       0.043       0.049
x3             0.1885      0.009     21.893      0.000       0.172       0.206
==============================================================================
Omnibus:                       60.414   Durbin-Watson:                   2.084
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              151.241
Skew:                          -1.327   Prob(JB):                     1.44e-33
Kurtosis:                       6.332   Cond. No.                         454.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.